@charset "UTF-8";

html body {
	background-color: #f5f5f5;
}

.list_name_header{
	margin-top: 50px;
	margin-left: 100px;
}

.btn-group-vertical {
	top:100px !important;
	left:85%;
	z-index:1;
}
.btn-group-vertical > button{
    margin-bottom:10px;
    border-radius:10px !important;
}

.list_results{
	width: 60%;
}

tr:nth-child(even) {background: Silver}
tr:nth-child(odd) {background: LightGray}