@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url(http://fonts.googleapis.com/css?family=Roboto);

html body {
	background-color: #ffa07a;
}

.div_for_entire_content {
	position: relative; 
	top:150px;
}
.text-center {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 80px;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.dropdown {
	position:relative;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
#ex2 {
	width: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
